<h2>Edit <%= resource_name.to_s.humanize %></h2>

<h3>Past Orders</h3>
<%= link_to "View Past Orders", customer_orders_path(current_customer), class: "button is-primary" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <!-- Custom fields -->
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :province %><br />
    <%= f.select :province, options_for_select([
      ["Alberta", "Alberta"],
      ["British Columbia", "British Columbia"],
      ["Manitoba", "Manitoba"],
      ["New Brunswick", "New Brunswick"],
      ["Newfoundland and Labrador", "Newfoundland and Labrador"],
      ["Nova Scotia", "Nova Scotia"],
      ["Ontario", "Ontario"],
      ["Prince Edward Island", "Prince Edward Island"],
      ["Quebec", "Quebec"],
      ["Saskatchewan", "Saskatchewan"]
    ], @customer.province), { include_blank: "Select Province" }, class: "input" %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.telephone_field :phone_number %>
  </div>

  <!-- Devise default fields -->
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<div>
  Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), method: :delete, data: { confirm: "Are you sure?" } %>
</div>

<%= link_to "Back", root_path %>
