<div class="content">
  <h2 class="title is-3">
    Search Results for "<%= @query.presence || 'All' %>"
  </h2>

  <% has_results = @products.any? || @categories.any? %>

  <% if has_results %>
    <%# --- Products --- %>
    <div class="box">
      <h3 class="title is-4">Products</h3>
      <% if @products.any? %>
        <ul>
          <% @products.each do |product| %>
            <li>
              <%= link_to product.name, product_path(product), class: "has-text-link" %>
              - <strong><%= number_to_currency(product.price) %></strong>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="has-text-grey"><em>No products found.</em></p>
      <% end %>
    </div>

    <%# --- Categories --- %>
    <div class="box">
      <h3 class="title is-4">Categories</h3>
      <% if @categories.any? %>
        <ul>
          <% @categories.each do |category| %>
            <li>
              <%= link_to category.name, category_path(category), class: "has-text-link" %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="has-text-grey"><em>No categories found.</em></p>
      <% end %>
    </div>
  <% else %>
    <div class="notification is-warning">
      No results found for "<strong><%= @query %></strong>".
    </div>
  <% end %>
</div>