<!-- Header Section -->
<section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-1">Evolve Athletics</h1>
    <p class="subtitle is-italic has-text-grey">Placeholder text</p>
  </div>
</section>

<!-- Columns Section -->
<section class="section">
  <div class="container">
    <div class="columns">
      <!-- Products Column -->
      <div class="column">
        <h4 class="title is-4">Products</h4>
        <div class="ml-5">
          <% @products.each do |product| %> <!-- Use @products instead of @product -->
            <div class="box mb-4">
              <div class="columns is-vcentered">
                <!-- Image column -->
                <div class="column is-one-third">
                  <% if product.image.attached? %>
                    <%= image_tag product.image %>
                  <% else %>
                    <p class="has-text-grey-light">No image available</p>
                  <% end %>
                </div>

                <!-- Info column -->
                <div class="column">
                  <p class="title is-5 mb-1">
                    <%= link_to product.name, product %>
                  </p>
                  <p class="subtitle is-6">
                    <em>(<%= link_to product.category.name, product.category %>)</em>
                  </p>
                  <p class="has-text-weight-semibold mt-2">
                    In Stock: <span class="has-text-success"><%= product.stockquantity %></span>
                  </p>

                  <% if cart.include?(product) %>
                    <%= button_to cart_path(product), method: :delete do %>
                      Remove from Cart
                    <% end %>
                  <% else %>
                    <%= form_with url: cart_index_path, method: :post do %>
                      <%= hidden_field_tag(:id, product.id) %>
                      <%= button_tag "Add to Cart" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

          <!-- Pagination Controls -->
          <div class="mt-4">
            <%= paginate @products %> <!-- Pagination links -->
          </div>

          <p class="mt-4">
            <%= link_to "See the Entire List of Products", products_path %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>