<div class="columns">
  <div class="column">
    <h3 class="title is-3">Products</h3>
    <ol class="ml-5">
      <% @products.each do |product|%>
        <li class="is-size-5"><%= link_to products.name, product %> <em>(<%= link_to product.category.name, product.category%>)</em></li>
      <% end %>
    </ol>
    <p class= "mt-4"><%= link_to "See the Entire List of Products", product_path%></p>
  </div>


  <div class="column">
    <h3 class="title is-3">Categories</h3>
    <ol class="ml-5">
      <% @categories.each do |category|%>
        <li class="is-size-5"><%= link_to categories.name, categories_path %></li>
      <% end %>
    </ol>
    <p class= "mt-4"><%= link_to "See the Entire List of Categories", categories_path%></p>
  </div>
</div>

