<div id="<%= dom_id product %>">
  <p>
    <h2 class="title is-2 mt-6">Name:</h2><%= product.name %>

  </p>

  <p>
    <h2 class="title is-2 mt-6">Description:</h2><%= product.description %>

  </p>

  <p>
    <h2 class="title is-2 mt-6">Price:</h2>$<%= product.price %>

  </p>

  <p>
    <h2 class="title is-2 mt-6">Stock Quantity:</h2><%= product.stockquantity %>

  </p>

  <p>
    <h2 class="title is-2 mt-6">Category:</h2><%= product.category_id %>

  </p>

</div>
