<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  </head>

    <footer>

        <ul class="menu is-inline ">
          <li class="menu-item"><%= link_to "Home", root_path %></li>
          <li class="menu-item"><%= link_to "Products", products_path %></li>
          <li class="menu-item"><%= link_to "Categories", categories_path %></li>
        </ul>
        <p class="mt-2">&copy; <%= Time.now.year %> Evolve Athletics. All Rights Reserved.</p>

    </footer>

</html>